.post {
    color: peachpuff;
    width: 600px;
    background-color: rgb(30, 60, 90);
    border: 1px solid #eee;
    margin: 15px;
    align-content: center;
    box-shadow: 4px 4px 2px #ccc;
}

.text {
    color: whitesmoke;
}

.tag {
    font-size: 20px;
    font-style: italic;
    color: powderblue;
}

.input {
    margin: 1px
}